body {
}
body-costumer { /*Müşteri kısımı için*/
    background: linear-gradient(to bottom, #ccffff 0%, #ffffff 64%);
    background-repeat: no-repeat;
}
body-employee { /*Çalışan paneli için*/
    background: linear-gradient(to bottom, #cde6e6 0%, #ffffff 64%);
    background-repeat: no-repeat;
}